/*
    *===================================*
    *=========== File Content ==========*
    *                                   *
    *   • Navbar                        *                                 
    *   • Header                        *                         
    *   • About                         *
    *   • Experience                    *
    *   • Why choose me                 *
    *   • Services                      *
    *   • People Say                    *
    *   • Blog                          *  
    *   • Contact                       *
    *   • Loader                        *
    *   • Media Query                   *
    *                                   *
    *===================================*

Mr.Hero HTML template
@SaFaRii

*/ 

/*--------------------- Start Fonts ---------------------*/

@font-face {
    font-family: 'Felix-titling';  /* titles */
    src: url('../webfonts/FELIXTI.TTF') format('truetype');
}
/*--------------------- End Fonts ---------------------*/
/*--------------------- Start body ---------------------*/

body {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}
/*--------------------- End Body ---------------------*/
/*--------------------- Start NavBar ---------------------*/
@media only screen and (max-width: 991px) {
    .navbar .container {
        max-width: 800px;
    }
}
.navbar .navbar-brand {     /*  LOGO  */
    color: #ffffff;
    font-size: 27px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
.navbar .navbar-toggler {
    outline: none;
    cursor: pointer;
}
.navbar .navbar-toggler .navbar-toggler-icon {     /* button icon */
    transition: all .7s;
}
.navbar .navbar-collapse {     /* navbar links container width */
    max-width: 78%;
}
@media only screen and (max-width: 1199px) {
    .navbar .navbar-collapse {
        max-width: 75%;
    }
}
@media only screen and (max-width: 991px) {
    .navbar .navbar-collapse {
        max-width: 71%;
    }
}
@media only screen and (max-width: 767px) {
    .navbar .navbar-collapse {
        max-width: inherit;
    }
}
.navbar .navbar-collapse .navbar-nav .nav-item {
    margin: 0 5px;
}
@media only screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-nav .nav-item {
        margin: 5px;
    }
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {     /*  Links  */
    color: #ffffff;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 13px;
    -webkit-transition: all .7s;
    -moz--transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
.navbar .nav-icons .icons:hover,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {     /* icons and links color on mouseover */
    color: #86c2fd;
    background-color: #ffffff;
}
@media only screen and (max-width: 991px) {
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: 0px 8px;
    }
}
@media only screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: 15px 20px;
    }
}
.navbar .nav-icons {
    margin-left: 8px;
}
@media only screen and (max-width: 767px) {
    .navbar .nav-icons {
        display: none;
    }
}
.navbar .nav-icons .icons {       /* navbar icons  */
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 13px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
@media only screen and (max-width: 991px) {
    .navbar .nav-icons .icons {
        padding: 0px 4px;
    }
}
.navbar .navbar-toggler:hover {      /* navbar mob toggler icon background color on mouseover */
    background-color: #ffffff;
}
.navbar .navbar-toggler:hover .navbar-toggler-icon {   /* navbar mob toggler icon color on mouseover */
    color: #86c2fd;
}
.navbar .navbar-toggler .navbar-toggler-icon {   /* navbar mob toggler icon color */
    color: #ffffff;
    padding: 4px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .icons {
    display: none;
}
@media only screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-nav .nav-item {
        margin: 5px;
    }
}
@media only screen and (max-width: 767px) {   /* mobile icons */
    .navbar .navbar-collapse .navbar-nav .nav-item .icons {
        display: inline-block;
        padding: 10px 15px;
    }
}
.active {      /*  active class */
    color: #86c2fd !important;
    background-color: #ffffff;
}
/*--------------------- End NavBar ---------------------*/
/*--------------------- Start Header ---------------------*/
.header {
    width: 100%;
    height: 794px;
    background-image: url("http://via.placeholder.com/1423x794");     /* Header image  1423 X 794  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 80% 80%;
    margin-bottom: 130px;
}
.header .name {
    padding-top: 328px;     /* the height of the name in the background */
}
@media only screen and (max-width: 991px) {  /* the height of the name in the background in 991px window */
    .header .name {
        padding-top: 485px;
    }
}
.header .name .text {     /* name */
    font-family: 'Felix-titling';
    font-size: 90px;
    color: #ffffff;
}
@media only screen and (max-width: 580px) {   /* font size in 580px window */
    .header .name .text {
        font-size: 70px;
    }
}
.header .name .text .description {    /* description */
    font-family: 'Questrial', sans-serif;
    display: block;
    font-size: 20px;
    color: #ffffff;
    margin: -6px 0 0 30px;
}
@media only screen and (max-width: 580px) {
    .header .name .text .description {
        font-size: 17px;
    }
}
/*--------------------- End Header ---------------------*/
/*--------------------- Start About ---------------------*/
.about {
    margin-bottom: 130px;
}
@media only screen and (max-width: 991px) {
    .about .container {
        max-width: 850px;
    }
}
@media only screen and (max-width: 767px) {
    .about .container {
        max-width: 680px;
    }
}
.about .title pre {     /* title */
    font-family: 'Felix-titling';
    height: 12.2vmin;
    font-size: 10.6vmin;
    color: #000000;
    margin-bottom: 0;
    padding-right: 25px;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 1199px) {     /* title font size in window 1199px */
    .about .title pre {
        font-size: 8vmin;
        height: 9.2vmin;
    }
}
@media only screen and (max-width: 865px) {
    .about .title pre {
        font-size: 6vmin;
        height: 7.2vmin;
    }
}
@media only screen and (max-width: 767px) {
    .about .title pre {
        font-size: 6vmin;
        height: 7vmin;
        text-align: center;
    }
}
.about .box {     /* box */
    position: relative;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 0px 4px 20px 1px #c7c7c7;
}
.about .box .img-about {     /* image container height */
    margin-top: -95px;
    margin-left: -50px;
}
@media only screen and (max-width: 767px) {
    .about .box .img-about {
        margin: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 991px) {
    .about .box .img-about .img {
        position: absolute;
        bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    .about .box .img-about .img {
        position: static;
    }
}
.about .box .description .heading-text {     /* heading container height */
    margin-top: 50px;
    margin-left: 25px;
    padding: 10px 0 10px 0;
}
.about .box .description .heading-text pre {     /* heading text */
    font-family: 'Questrial', sans-serif;
    font-size: 27px;
    color: #86c2fd;
}
.about .box .description .name-text {     /* name container height */
    margin-left: 25px;
    padding-top: 10px;
}
.about .box .description .name-text pre {     /* name text */
    font-family: 'Questrial', sans-serif;
    font-size: 19px;
    color: #7e8890;
}
.about .box .description .name-text pre span {     /* color name (john doe) */
    color: #86c2fd;
}
.about .box .description .info-text {     /* info container height */
    margin-left: 25px;
    padding-right: 20px;
}
.about .box .description .info-text p {     /* info text */
    font-family: 'Questrial', sans-serif;
    max-width: 430px;
    font-size: 15px;
    color: #7e8890;
}
.about .box .description .cv-button {     /* button container height */
    margin-left: 25px;
    padding: 10px 0 10px 0;
}
.about .box .description .cv-button .button {              /* button */
    background: linear-gradient(to right,#d09efe,#86c2fd);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.about .box .description .cv-button .button:hover {     /* button effect on mouseover */
    box-shadow: 0px 10px 35px -10px #000000;
}
.about .box .description .social-icons {     /* social icons container height */
    position: absolute;
    bottom: 0;
    right: 25px;
    padding: 10px 0 10px 0;
}
.about .box .description .social-icons .icons {     /* social icons */
    color: #7e8890;
    padding: 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s; 
}
.about .box .description .social-icons .icons:hover {     /* social icons color on mouseover */
    color: #000000;
}
@media only screen and (max-width: 767px) {
    .about .box .description .social-icons {
        position: static;
        text-align: right;
        padding: 10px 0 50px 0;
        margin-right: 25px;
    }
}
/*---------------------  End About ---------------------*/
/*---------------------  Start Experience ---------------------*/
.experience {
    margin-bottom: 70px;
}
@media only screen and (max-width: 991px) {
    .experience .container {
        max-width: 920px;
    }
}
@media only screen and (max-width: 767px) {
    .experience .container {
        max-width: 680px;
    }
}
.experience .title {     /* title container height */
    margin-bottom: 100px;
}
.experience .title pre {     /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: #000000;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {     /* title font size in 767px window */
    .experience .title pre {
        font-size: 6vw;
    }
}
.experience .exp-text .content {     /* content height & width */
    display: inline-block;
    max-width: 240px;
    padding: 10px 0 10px 0;
    margin-right: 28px;
}
@media only screen and (max-width: 1060px) {
    .experience .exp-text .content {
        margin-right: 0;
    }
}
@media only screen and (max-width: 767px) {
    .experience .exp-text .content {
        max-width: 225px;
        margin-right: 15px;
    }
}
@media only screen and (max-width: 767px) {     /* content 2 & 4 to the right in 767px window */
    .experience .exp-text:nth-child(1) .content:nth-child(2),
    .experience .exp-text:nth-child(3) .content:nth-child(2) {
        float: right;
        margin-right: 0;
    }
}
.experience .exp-text:nth-child(1) .content:nth-child(1) .heading {     /* content 1 heading color */
    color: #d09efe;
}
.experience .exp-text:nth-child(1) .content:nth-child(2) .heading {     /* content 2 heading color */
    color: #86c2fd;
}
.experience .exp-text:nth-child(3) .content:nth-child(1) .heading {     /* content 3 heading color */
    color: #86c2fd;
}
.experience .exp-text:nth-child(3) .content:nth-child(2) .heading {     /* content 4 heading color */
    color: #d09efe;
}
.experience .exp-text .content .date {     /* date color */
    color: #212529;
}
.experience .exp-text .content .info {     /* info color */
    color: #7e8890;
    padding-top: 10px;
}
.experience .exp-skills .canvas-skills #c-skills {     /* canvas skills width & height */
    width: 262px;
    height: 323px;
}
.experience .exp-skills .num-skills {
    display: none;
}
@media only screen and (max-width: 767px) {
    .experience .exp-skills {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
/*--------------------- End Experience ---------------------*/
/*--------------------- Start WHY CHOOSE ME ---------------------*/
.wcm {
    background: linear-gradient(to right,#d09efe,#86c2fd);     /* section background color */
    margin-bottom: 100px;
}
@media only screen and (max-width: 600px) {
    .wcm .container {
        margin: 0;
    }
}
.wcm .draw-top {
    background-image: url('../images/draw-top.png');     /* top image */
    width: 100%;
    height: 130px;
}
.wcm .draw-bottom {
    background-image: url('../images/draw-bottom.png');     /* bottom image */
    width: 100%;
    height: 130px;
    margin-top: 90px
}
.wcm .title {           /* title container height */
    margin-top: 70px;
    margin-bottom: 70px;
}
.wcm .title pre {                   /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: white;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {     /* title font size in 767 window */
    .wcm .title pre {
        font-size: 5.8vw;
        
    }
}
.wcm .card-deck .card {             /* card */
    background-color: transparent;
    border: none;
    box-shadow: 0px 5px 27px -6px #909090;
}
@media only screen and (max-width: 767px) {
    .wcm .card-deck .card {
        flex: 0 0 100%;
        margin-bottom: 35px;
    }
}
.wcm .card-deck .card .card1-icon .icon,     /* card icon */
.wcm .card-deck .card .card2-icon .icon,
.wcm .card-deck .card .card3-icon .icon {
    color: #ffffff;
    font-size: 100px;
    margin-top: 60px;
    margin-bottom: 60px; 
}
.wcm .card-deck .card .card-block {     /* card text content height */
    padding: 0 30px 40px;
}
.wcm .card-deck .card .card-block h4,     /* card heading & text color */
.wcm .card-deck .card .card-block p {
    color: #ffffff;
}
/*--------------------- End WHY CHOOSE ME ---------------------*/
/*--------------------- Start SERVICES ---------------------*/
.services {
    margin-bottom: 130px;
}
@media only screen and (max-width: 767px) {
    .services .container {
        max-width: 710px;
    }
}
.services .title {         /* title container height */
    margin-bottom: 75px;
}
.services .title pre {            /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: #000000;
    white-space: pre-wrap;
    overflow: hidden;
}
.services .shape .circle .icon,
.services .shape .circle2 .icon {     /* icon */
    width: 122px;
    height: 122px;
    position: absolute;
    font-size: 45px;
    background-color: #ffffff;     /* icon background color */
    border: 16px solid;
    border-radius: 100%;
    padding: 17px;
}
@media only screen and (max-width: 767px) {     /* icon width, height and font size in 767px window */
    .services .shape .circle .icon,
    .services .shape .circle2 .icon {
        width: 80px;
        height: 80px;
        font-size: 35px;
        border: 8px solid;
        padding: 8px;
    }
}
.services .shape .circle .icon {     /* icon1 & icon3 color */
    color: #d09efe;
}
.services .shape .circle2 .icon {     /* icon2 & icon4 color */
    color: #86c2fd;
}
@media only screen and (max-width: 767px) {
    .services .shape {
        flex: 0 0 27%;
        max-width: 100%;
    }
}
.services .shape .circle .icon:first-child .arrow {     /* icon1 arrow */
    position: absolute;
    top: 84px;
    left: 45px;
    margin-left: -47px;
    border: 47px solid;
    border-color: #d09efe transparent transparent transparent;   /* arrow color */
    z-index: -1;
}
@media only screen and (max-width: 767px) {
    .services .shape .circle .icon:first-child .arrow {
        top: 2px;
        left:32px;
        margin-left: 26px;
        border: 30px solid;
        border-color: transparent transparent transparent #d09efe;    /* arrow color in 767px window */
    }
}
.services .shape .circle .icon:last-child .arrow {     /* icon2 arrow */
    position: absolute;
    top: -88px;
    left: 45px;
    top: -88px;
    margin-left: -47px;
    border: 47px solid;
    border-color: transparent transparent #d09efe transparent;     /* arrow color */
    z-index: -1;
}
@media only screen and (max-width: 767px) {
    .services .shape .circle .icon:last-child .arrow {
        top: 2px;
        left: 32px;
        margin-left: 26px;
        border: 30px solid;
        border-color: transparent transparent transparent #d09efe;     /* arrow color in 767px window */
    }
}
.services .shape .circle2 .icon:first-child .arrow {      /* icon3 arrow */
    position: absolute;
    top: -2px;
    left: 45px;
    margin-left: -133px;
    border: 47px solid;
    border-color: transparent #86c2fd transparent transparent;   /* arrow color */
    z-index: -1;
}
@media only screen and (max-width: 767px) {
    .services .shape .circle2 .icon:first-child .arrow {
        top: 2px;
        left: 32px;
        margin-left: 26px;
        border: 30px solid;
        border-color: transparent transparent transparent #86c2fd;   /* arrow color in 767px window */
    }
}
.services .shape .circle2 .icon:last-child .arrow {     /* icon4 arrow */
    position: absolute;
    top: -2px;
    left: 45px;
    margin-left: 39px;
    border: 47px solid;
    border-color: transparent transparent transparent #86c2fd;    /* arrow color */
    z-index: -1;
}
@media only screen and (max-width: 767px) {
    .services .shape .circle2 .icon:last-child .arrow {
        top: 2px;
        left: 32px;
        margin-left: 26px;
        border: 30px solid;
        border-color: transparent transparent transparent #86c2fd;     /* arrow color in 767px window */
    } 
}
.services .text .service2,
.services .text .service {      /* text */
    color: #7e8890;         /* text color */
    padding: 0px 12px;
    margin: 25px 0;
}
.services .text .service {            /* service1 & service3 border color */
    border-left: 5px solid #d09efe;
}
.services .text .service2 {          /* service2 & service4 border color */
    border-left: 5px solid #86c2fd;
}
@media only screen and (max-width: 767px) {
    .services .text {
        flex: 0 0 65%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .services .text .service,
    .services .text .service2 {
        margin: 50px 0 50px 20px;
    }
}
@media only screen and (max-width: 767px) {
    .services .text .service:first-child {
        margin: 10px 0 50px 20px;
    }
}

/*--------------------- End SERVICES ---------------------*/
/*--------------------- Start PORTFOLIO ---------------------*/
.portfolio {
    margin-bottom: 130px;
}
.portfolio .title {        /* title container height */
    margin-bottom: 100px;
}
.portfolio .title pre {           /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: #000000;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {   /* title font size in 767px window */
    .portfolio .title pre {
        font-size: 6vw;
    }
}
.portfolio .portfolio-container .portfolio-column {   /* column */
    display: inline-block;
    overflow: hidden;
}
.portfolio .portfolio-container .portfolio-column .biger-img,
.portfolio .portfolio-container .portfolio-column .big-img,
.portfolio .portfolio-container .portfolio-column .medium-img,
.portfolio .portfolio-container .portfolio-column .small-img {     /* img & text container */
    position: relative;
    max-width: 363px;
    background-color: #000000;
    margin: auto;
    border: 3px solid #ffffff;
    overflow: hidden;
}
.portfolio .portfolio-container .portfolio-column .biger-img img,
.portfolio .portfolio-container .portfolio-column .big-img img,
.portfolio .portfolio-container .portfolio-column .medium-img img,
.portfolio .portfolio-container .portfolio-column .small-img img {     /* img */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.portfolio .portfolio-container .portfolio-column .biger-img a,
.portfolio .portfolio-container .portfolio-column .big-img a,
.portfolio .portfolio-container .portfolio-column .medium-img a,
.portfolio .portfolio-container .portfolio-column .small-img a {     /* text */
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
    color: #ffffff;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
@media only screen and (max-width: 991px) {
    .portfolio .portfolio-container .portfolio-column:nth-child(1) .biger-img,
    .portfolio .portfolio-container .portfolio-column:nth-child(1) .small-img,
    .portfolio .portfolio-container .portfolio-column:nth-child(3) .big-img,
    .portfolio .portfolio-container .portfolio-column:nth-child(3) .medium-img {
        margin-right: 0;
    }
}
@media only screen and (max-width: 991px) {
    .portfolio .portfolio-container .portfolio-column:nth-child(2) .medium-img,
    .portfolio .portfolio-container .portfolio-column:nth-child(2) .big-img,
    .portfolio .portfolio-container .portfolio-column:nth-child(4) .small-img,
    .portfolio .portfolio-container .portfolio-column:nth-child(4) .biger-img {
        margin-left: 0;
    }
}
@media only screen and (max-width: 575px) {
    .portfolio .portfolio-container .portfolio-column .biger-img,
    .portfolio .portfolio-container .portfolio-column .big-img,
    .portfolio .portfolio-container .portfolio-column .medium-img,
    .portfolio .portfolio-container .portfolio-column .small-img {
        margin: auto !important;
    }
}
.portfolio .portfolio-container .portfolio-column .biger-img img:hover,
.portfolio .portfolio-container .portfolio-column .big-img img:hover,
.portfolio .portfolio-container .portfolio-column .medium-img img:hover,
.portfolio .portfolio-container .portfolio-column .small-img img:hover {     /* img effect on mouseover */
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    opacity: .7;
}
.portfolio .portfolio-container .portfolio-column .biger-img:hover a,
.portfolio .portfolio-container .portfolio-column .big-img:hover a,
.portfolio .portfolio-container .portfolio-column .medium-img:hover a,
.portfolio .portfolio-container .portfolio-column .small-img:hover a {
    display: block;
    text-decoration: none;
}
/*--------------------- End PORTFOLIO ---------------------*/
/*--------------------- Start PEOPLE SAY ---------------------*/
.people-say {
    margin-bottom: 130px;
}
.people-say .title {           /* title container height */
    margin-bottom: 100px;
}
.people-say .title pre {            /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: #000000;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {      /* title font size in 767px window */
    .people-say .title pre {
        font-size: 6vw;
    }
}
.people-say .arrow-pre .arrow,
.people-say .arrow-next .arrow {      /* next & previous icon */
    color: #e2e2e2;
    font-size: 50px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.people-say .arrow-pre .arrow:hover,
.people-say .arrow-next .arrow:hover {   /* next & previous icon color on mouseover */
    color: #868686;
}
.people-say .people-container {      /* people container */
    display: flex;
    overflow: hidden;
}
.people-say .people-container .people-opinion {   /* people opinion */
    display: inline-block;
    max-width: 33.33333333%;
    flex: 0 0 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
@media only screen and (max-width: 991px) {
    .people-say .people-container .people-opinion {
        max-width: 50%;
    }
}
@media only screen and (max-width: 699px) {
    .people-say .people-container .people-opinion {
        max-width: 100%;
    }
}
.people-say .people-container .people-opinion .content {   /* content */
    margin: 15px;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 4px 20px 1px #c7c7c7;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
@media only screen and (max-width: 991px) {
    .people-say .people-container .people-opinion .content {
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        -o-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    }
}
@media only screen and (max-width: 699px) {
    .people-say .people-container .people-opinion .content {
        -webkit-transition: all 0.01s ease-in-out;
        -moz-transition: all 0.01s ease-in-out;
        -o-transition: all 0.01s ease-in-out;
        transition: all 0.01s ease-in-out;
    }
}
.people-say .people-container .people-opinion .image {    /* img container height */
    padding: 20px 0 15px 0;
}
.people-say .people-container .people-opinion .image img {   /* img circle effect */
    border-radius: 50%;
}
.people-say .people-container .people-opinion .description {  /* description text container height */
    padding: 15px 0 15px 0;
}
.people-say .people-container .people-opinion .description p {  /* text */
    color: #7e8890;
    font-size: 15px;
    margin-bottom: 0;
}
.people-say .people-container .people-opinion .name {    /* name container height */
    padding-top: 15px;
}
.people-say .people-container .people-opinion .name p {  /* name */
    color: #5a5a5a;
    font-size: 20px;
    margin-bottom: 0;
}
.people-say .people-container .people-opinion .job {    /* job */
    color: #7e8890;
    font-size: 15px;
    padding-bottom: 5px;
}
.people-say .people-container .people-opinion .date p:first-child,
.people-say .people-container .people-opinion .job p {
    margin-bottom: 0;
}
.people-say .people-container .people-opinion .date {   /* date */
    color: #bdbdbd;
    padding: 5px 0 15px 0;
}

.people-say .people-partners {       /* partners container height */
    margin-top: 100px;
}
.people-say .people-partners .partner-content {  
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
.people-say .people-partners .partner-content .partner {     /* partner image */
    margin: 0 10px 0 10px;
    padding: 10px;
    opacity: .3;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.people-say .people-partners .partner-content .partner:hover {   /* partner image effect on mouseover */
    opacity: 1;
}
/*--------------------- End PEOPLE SAY ---------------------*/
/*--------------------- Start BLOG ---------------------*/
.blog {
    background: linear-gradient(to right,#d09efe,#86c2fd);   /* section background color */
    margin-bottom: 130px;
}
.blog .top-img {     /* top image */
    background-image: url("../images/draw-top.png");
    width: 100%;
    height: 130px;
}
.blog .bottom-img {     /* bottom image */
    background-image: url("../images/draw-bottom.png");
    width: 100%;
    height: 130px;
    margin-top: 90px;
}
@media only screen and (max-width: 1199px) {
    .blog .container {
        max-width: 1025px;
    }
}
.blog .title {        /* title container height */
    margin-top: 70px;
    margin-bottom: 70px;
}
.blog .title pre {                /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: #ffffff;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 767px) {    /* title font size in 767px window */
    .blog .title pre {
        font-size: 6vw;
    }
}
.blog .big-card .content {           /* big-card height, space and shadow */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    margin: 10px;
    padding: 50px 0 0 50px;
    border-radius: 2px;
    box-shadow: 0px 2px 25px -4px;
}
.blog .big-card:nth-child(1) .content {            /* big card 1 image */
    background-image: url("http://via.placeholder.com/730x300");
}
.blog .big-card .content h1,
.blog .big-card .content .description,
.blog .big-card .content .icon {        /* big-card heading, description and icon color */
    max-width: 360px;
    color: #ffffff;
}
.blog .big-card .content .icon {     /* icon-container height */
    margin-top: 45px;
}
.blog .big-card .content .icon span:nth-child(2),
.blog .big-card .content .icon span:nth-child(3) {   /* icons space */
    padding-left: 12px;
}
.blog .big-card .content input {   /* big-card button (read more) */
    background: transparent;
    border: 2px solid #d8273f;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.blog .big-card .content inPut:hover {   /* big-card button effect on mouseover */
    border: 2px solid #82091a;
}
.blog .small3-card .content,
.blog .small2-card .content,
.blog .small-card .content {    /*  small, small2, small3-card.. height, space and shadow */
    min-height: 300px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 25px -4px;
}
@media only screen and (max-width: 767px) {
    .blog .small3-card,
    .blog .small2-card,
    .blog .small-card {
        max-width: 430px;
        margin: auto;
    }
}
.blog .small-card .content {        /* small-card space */
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.blog .small-card:nth-child(2) .content {             /* small-card 1 image */
    background-image: url("http://via.placeholder.com/360x300");
}
.blog .small-card .content .heading {   /* small-card heading position & space */
    position: absolute;
    bottom: 0;
    padding-right: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.blog .small-card:nth-child(2) .content .details p,
.blog .small-card:nth-child(2) .content .heading a {   /* small-card 1 heading, details and icons color */
    color: #ffffff;
}
.blog .small3-card .content .heading a:hover,
.blog .small2-card .content .heading a:hover,
.blog .small-card .content .heading a:hover {
    text-decoration: none;
}
.blog .small-card .content .details {       /* small-card details position */
    position: absolute;
    bottom: 0;
    transition: all 1s;
}
.blog .small-card .content .details .icon span:nth-child(2),
.blog .small-card .content .details .icon span:nth-child(3),
.blog .small2-card .content .details .icon span:nth-child(2),
.blog .small2-card .content .details .icon span:nth-child(3) {  /* small, small2-card icon space */
    padding-left: 8px;
}
.blog .small-card:nth-child(3) .content {            /* small-card 2 image */
    background-image: url("http://via.placeholder.com/360x300");
}
.blog .small-card:nth-child(3) .content .details p,
.blog .small-card:nth-child(3) .content .heading a {    /* small-card 2 heading & details color */
    color: #ffffff;
}
.blog .small2-card .content {      /*  small2-card background color */
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}
.blog .small2-card .content .card-img {     /* small2-card height & position */
    position: absolute;
    height: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.blog .small2-card:nth-child(4) .content .card-img {    /* small2-card 1 image */
    background-image: url("http://via.placeholder.com/360x150");
}
.blog .small2-card .content:hover .card-img {    /* small2-card effect on mouseover */
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
.blog .small2-card .content .text {    /* small2-card text container height,space and background color */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
    padding: 10px;
}
.blog .small2-card .content .heading a h2 {    /* small2-card heading color */
    color: #27aed8;
}
.blog .small2-card .content .details {
    position: absolute;
    bottom: 0;
}
.blog .small2-card .content .details .icon {    /* small2-card icon color */
    color: #27aed8;
    margin-bottom: 10px;
}
.blog .small3-card .content {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.blog .small3-card:nth-child(5) .content {            /* small3-card 1 image */
    background-image: url("http://via.placeholder.com/360x300");
}
.blog .small3-card .content .overlay {         /* small3-card overlay */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29,114,210,.5);
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.blog .small3-card .content .overlay .heading {     /* small3-card heading color */
    color: #ffffff;
    text-align: center;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}
.blog .small3-card .content .overlay .heading h2 {
    margin-bottom: 0;
}
.blog .small3-card .content .overlay .icon {  /* small3-card icon size */
    font-size: 75px;
    text-align: center;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}
.blog .small3-card .content .overlay .icon a {   /* small3-card icon color */
    color: #ffffff;
}
/*--------------------- End BLOG ---------------------*/
/*--------------------- Start CONTACT ---------------------*/
.contact .title {      /* title container height */
    margin-bottom: 50px;
}
.contact .title pre {            /* title */
    font-family: 'Felix-titling';
    font-size: 6vw;
    color: #000000;
    white-space: pre-wrap;
    overflow: hidden;
}
@media only screen and (max-width: 991px) {     /* title font size in 991px window */
    .contact .title pre {
        font-size: 5.5vw;
    }
}
@media only screen and (max-width: 991px) {
    .contact .contact-container {
        max-width: 830px
    }
}
.contact .subscribe-container .text {     /* subscribe input text */
    width: 50%;
    color: #7e8890;
    border-radius: 25px;
    border: 2px solid #DDDDDD;
    outline: none;
    padding: 15px 96px 15px 20px;
}
@media only screen and (max-width: 991px) {     /* subscribe input text width in 991px window */
    .contact .subscribe-container .text {
        width: 65%;
    }
}
@media only screen and (max-width: 767px) {       /* subscribe input text width in 767px window */
    .contact .subscribe-container .text {
        width: 88%;
    }
}
@media only screen and (max-width: 400px) {
    .contact .subscribe-container .text {
        padding: 15px 15px 15px 20px;
    }
    
}
.contact .subscribe-container .btn {        /* subscribe btn */
    width: 13%;
    color: #ffffff;
    background: linear-gradient(to right,#d09efe,#86c2fd);
    border-radius: 25px;
    outline: none;
    box-shadow: none;
    margin-left: -92px;
    padding: 18.5px;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
@media only screen and (max-width: 991px) {     /* subscribe btn width in 991px window */
    .contact .subscribe-container .btn {
        width: 20%;
    }
}
@media only screen and (max-width: 767px) {     /* subscribe btn width in 767px window */
    .contact .subscribe-container .btn {
        width: 28%;
    }
}
@media only screen and (max-width: 400px) {    /* subscribe btn width, border and space in 400px window */
    .contact .subscribe-container .btn {
        width: 13%;
        border-radius: 100%;
        margin-left: -10px;
        padding: 8px 4.5px;
    }
}
.contact .subscribe-container .btn:hover {    /* subscribe btn effect on mouseover */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.contact .contact-container .content {     /* contact content height % shadow */
    margin-top: 150px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 20px 1px #c7c7c7;
}
.contact .contact-container .content .info {     /* info inner space */
    padding: 50px 70px;
}
@media only screen and (max-width: 610px) {      /* info inner space in 610px window */
    .contact .contact-container .content .info {
        padding: 50px 40px;
    }
}
.contact .contact-container .content .info .heading {    /* heading color */
    color: #313d4b;
    margin-bottom: 35px
}
.contact .contact-container .content .info .name,
.contact .contact-container .content .info .email,
.contact .contact-container .content .info .phone,
.contact .contact-container .content .info .subject {
    margin-bottom: 15px;
}
.contact .contact-container .content .info .name input,
.contact .contact-container .content .info .email input,
.contact .contact-container .content .info .phone input,
.contact .contact-container .content .info .subject input {  /* name, email, phone and subject input */
    width: 95%;
    color: #7e8890;
    border: none;
    outline: none;
    border-bottom: 1px solid #DDD;
    padding: 3px;
}
.contact .contact-container .content .info .message textarea {   /* message textarea */
    width: 100%;
    color: #7e8890;
    border: none;
    outline: none;
    border-bottom: 1px solid #DDD;
    padding: 3px;
}
.contact .contact-container .content .info .submit input {    /* submit input */
    width: 50%;
    color: #ffffff;
    background: linear-gradient(to right,#d09efe,#86c2fd);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 3px;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.contact .contact-container .content .info .submit input:hover {    /* submit input effect on mouseover */
    box-shadow: 0px 10px 35px -10px #000000;
}
.contact .google-map {    /* google map container height */
    height: 450px;
}
@media only screen and (max-width: 991px) {
    .contact .google-map {
        height: inherit;
    }
}
.contact .google-map .map {
    width: 100%;
    height: 100%;
    border: none;
}
.contact .footer-icons {
    margin-bottom: 50px;
}
.contact .footer-icons .facebook-icon,
.contact .footer-icons .twitter-icon,
.contact .footer-icons .instagram-icon {   /* bottom icons */
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 100%;
    background-color: #86c2fd;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.contact .footer-icons .facebook-icon:hover {   /* facebook icon background color on mouseover */
    background-color: #3B5998;
}
.contact .footer-icons .twitter-icon:hover {    /* twitter icon background color on mouseover */
    background-color: #28AAE1;
}
.contact .footer-icons .instagram-icon:hover {     /* instagram icon background color on mouseover */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.contact .footer-icons .facebook-icon a,
.contact .footer-icons .twitter-icon a,
.contact .footer-icons .instagram-icon a {   /* icon color */
    color: #ffffff;
    font-size: 16px;
}
.contact .footer-icons .facebook-icon:hover,
.contact .footer-icons .twitter-icon:hover,
.contact .footer-icons .instagram-icon:hover {      /* icon effect on mouseover */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/*--------------------- End CONTACT ---------------------*/
/*--------------------- Start Loader ---------------------*/
.loader {
    position: fixed;
    background-color: #ffffff;      /* background color */
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.loader .cir-container {
    position: relative;
    top: 35%;
    left: 46%;
}
.loader .cir-container .cir1 {
    position: absolute;
    width: 120px;
    height: 120px;
    border: .5px solid transparent;
    border-radius: 100%;
    border-top: 6px solid #d09efe;     /* circle1 color */
    animation: spin .9s linear infinite;
}
.loader .cir-container .cir2 {
    position: absolute;
    top: 17px;
    width: 120px;
    height: 120px;
    border: .5px solid transparent;
    border-radius: 100%;
    border-top: 6px solid #86c2fd;       /* circle2 color */
    animation: spin2 1s linear infinite;
}
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    0% { -moz-transform: rotate(0deg); }
    0% { -o-transform: rotate(0deg); }
    0% { transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    100% { -moz-transform: rotate(360deg); }
    100% { -o-transform: rotate(360deg); }
    100% { transform: rotate(360deg); } 
}
@keyframes spin2 {
    0% { -webkit-transform: rotate(0deg); }
    0% { -moz-transform: rotate(0deg); }
    0% { -o-transform: rotate(0deg); }
    0% { transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    100% { -moz-transform: rotate(360deg); }
    100% { -o-transform: rotate(360deg); }
    100% { transform: rotate(360deg); 
}
/*--------------------- End Loader ---------------------*/